<h2>ZLZ Docs</h2>

<h3>Setup Character</h3>

<a href="{{ '/setup-character/' | relative_url }}"
   class="{% if page.url == '/setup-character/' or page.url == '/setup-character/index.html' %}active{% endif %}">
   Overview
</a>

<a href="{{ '/setup-character/standard-setup/' | relative_url }}"
   class="{% if page.url contains '/setup-character/standard-setup/' %}active{% endif %}">
   Standard Setup
</a>

<a href="{{ '/setup-character/advanced-hair-setup/' | relative_url }}"
   class="{% if page.url contains '/setup-character/advanced-hair-setup/' %}active{% endif %}">
   Advanced Hair Setup
</a>

<h3>Features</h3>

<a href="{{ '/features/' | relative_url }}"
   class="{% if page.url == '/features/' or page.url == '/features/index.html' %}active{% endif %}">
   Overview
</a>

<a href="{{ '/features/hair-system/' | relative_url }}"
   class="{% if page.url contains '/features/hair-system/' %}active{% endif %}">
   hair-system
</a>

<a href="{{ '/features/faceshadow/' | relative_url }}"
   class="{% if page.url contains '/features/faceshadow/' %}active{% endif %}">
   FaceShadow
</a>

<a href="{{ '/features/lighting-system/' | relative_url }}"
   class="{% if page.url contains '/features/lighting-system/' %}active{% endif %}">
   lighting-system
</a>

<a href="{{ '/features/surface-stylization/' | relative_url }}"
   class="{% if page.url contains '/features/surface-stylization/' %}active{% endif %}">
   surface-stylization
</a>

<a href="{{ '/features/character-fx/' | relative_url }}"
   class="{% if page.url contains '/features/character-fx/' %}active{% endif %}">
   character-fx
</a>

<h3>Performance</h3>

<a href="{{ '/performance/' | relative_url }}"
   class="{% if page.url contains '/performance/' %}active{% endif %}">
   Performance
</a>

<h3>FAQ</h3>

<a href="{{ '/faq/' | relative_url }}"
   class="{% if page.url contains '/faq/' %}active{% endif %}">
   FAQ
</a>

<h3>Changelog</h3>

<a href="{{ '/changelog/' | relative_url }}"
   class="{% if page.url contains '/changelog/' %}active{% endif %}">
   Changelog
</a>
